[Unit]
Description=Telegram bot. Converter from webm to gif and mp4
After=network.target

[Service]
User=telegram-bot
Group=telegram-bot
WorkingDirectory=/home/telegram-bot/webmtogif
Environment="PATH=/home/telegram-bot/webmtogif/bin"
ExecStart=/home/telegram-bot/webmtogif/bin/python /home/telegram-bot/webmtogif/main.py

[Install]
WantedBy=multi-user.targetroot